# Byte-code files
*.pyc
__pycache__/

# Virtual environment
.venv/
venv/
env/

# IDE specific files
.idea/
.vscode/

# macOS specific files
.DS_Store

# Test / Coverage
.pytest_cache/
.coverage
htmlcov/

# Logs
*.log
logs/

# Distribution / Packaging
build/
dist/
*.egg-info/
.eggs/
